# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    name: Java ${{ matrix.java-version }}
    
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        java-version: ['11', '12', '13', '14', '15', '16', '17']

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Install language
      run: mvn -B install --file language/pom.xml 
    - name: Build sample
      run: mvn -B verify --file sample/pom.xml -Dmaven.compiler.source=${{ matrix.java-version }} -Dmaven.compiler.target=${{ matrix.java-version }}
